@import "variables";
@import "mixins";

.container-fluid {
  padding: 0;
  margin: 0;
}

h1 {
  @include typeface("h1", $Gloria);
}

h2,
h3,
h4,
h5 {
  @include typeface("h2", $Baskerville);
}

html {
  height: 100%;
}

body {
  width: 100%;
  @include typeface("p");
}

input {
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  margin: 20px auto;
}
