@import "variables";
@import "mixins";

// btn
.btn {
  border: none;
  background-color: $darkBlue;
  &:hover {
    background-color: $blue;
  }
}

// spinner
.spinner {
  margin: 250px auto;
  display: block;
}

// table
.table td {
  vertical-align: middle;
}

// modal
.modal-header {
  background-color: $yellow;
}

.modal-content > small {
  @include colours(#d3d3d3, $black, 0px 5px);

  &:first-of-type {
    padding-top: 3px;
  }

  &:last-of-type {
    padding-bottom: 3px;
  }
}

.modal__body--btn {
  width: 25%;
  max-width: 100px;

  &:last-of-type {
    float: right;
    background-color: $white;
    border: 1px solid $black;
    color: $black;

    &:hover {
      background-color: #ff333a;
      color: $white;
    }
  }
}

.messageModal_respond {
  padding: 10px 20px;
  border-top: 1px solid $black;
}

// form
.containerForm {
  @include centerShadow(left);
  background-color: rgb(240, 240, 240);
  height: 100%;
  padding-top: 20px;
  margin-bottom: 50px;

  &__form {
    margin: 0px auto;
    padding: 30px;

    & h2 {
      margin-bottom: 30px;
    }
  }
}

.form {
  &-label::after {
    content: "*";
    color: #bb0006;
    padding-left: 3px;
  }

  &-nonRequired::after {
    content: "";
  }

  &-text {
    color: #bb0006;
  }

  &__btn {
    @include flexing(space-between);
    margin-top: 50px;

    &--submit {
      background-color: $darkBlue;
      color: $white;
      border: none;
      width: 150px;
    }

    &--reset {
      background-color: $white;
      border: 1px solid $black;
      color: $black;

      &:hover {
        background-color: #d3292f;
      }
    }
  }
  &__date {
    display: flex;
    flex-direction: column;

    &--picker {
      padding-left: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__message {
    padding-bottom: 150px;
  }
}

.forgotPassword {
  text-align: center;
}

// footer
.footer {
  background-color: #696969;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 100%;
  align-items: center;
  line-height: 1;
  color: $white;

  &__title--text {
    font-size: 72px;
    color: $darkYellow;
  }

  &__contact--title {
    margin-bottom: 20px;
  }

  &__social img {
    width: 50px;
    height: auto;
    margin: 10px;
  }
}

// Error / Permission Denied
.pageError {
  border: none;
  max-width: 400px;
  margin: 20px auto;
  background: none;

  &__img {
    margin-bottom: 20px;
  }

  &__container {
    @include colours(rgba($black, 0.9), $white);
    margin-top: 40vw;
    height: 80px;

    &--text,
    &--title {
      margin: 10px;
      text-align: center;
    }
  }
}
