// Typography
$Gloria: "Gloria", serif;
$Futura: "futura-pt", sans-serif;
$Baskerville: "baskerville-urw", serif;

// Colours
$beige: #a67d02;
$yellow: #ffd657;
$darkYellow: #ffcb2e;
$darkBlue: #035aa6;
$blue: #052ff2;
$black: #000000;
$white: #ffffff;

// Headings
$headings: "headings";
